<!--Botton Navigation of website-->
<footer>
    <nav class="navbar fixed-bottom bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">&copy; 2022. All Rights reserved.</a>
    </div>
  </nav>
  </footer>