<!--footer section of website-->
<html>
<body>
<!-- Script Section-->
  <script type="module" src="index.ejs"></script>
  <script> scr="/jquery/dist/jquery.min.js"</script>
  <script> scr="/bootstrap/dist/js/bootstrap.min.js"</script>
</body>
</html>