<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>

<!--HOme page (start) of the website-->
<body style="background-color: black"> 
    <table id="about" border="0" width="100%"
        cellpadding="150" cellspacing="0">
        <tr>
            <td>
                <table border="0" cellpadding="15" 
                    cellspacing="0" width="80%" align="center" >
                    <tr>
                        <td height="200" align="center"
                            valign="middle" colspan="2">
                            <font face="Verdana" size="6"
                                color="white">
                                <b>Hi, I am Farhan!
                            </font>
                            <hr color="#4CAF50" width="90">
                        </td>
                    </tr>
 
                    <tr>
                        
 
                        <td class= "td", width="60%" >
                            <font face="verdana" size="3"
                                color="white">
                                
                                <hr color="black">
                                I am a Software Engineer, Full Stack Developer, the author of this blog, 
                                and a passionate believer in Software technology & the digital space.
                                <hr color="black">
 
                                I dedicate this blog to showcase all my work and thoughts. 
                                You can hop around pages, find great info, get inspired, share comments, 
                                & if you'd like to chat, hit me up in the contacts!
                                <hr color="black">
                                
                                <br>
                                <b>
                                        
                                        <a href= "/about" style="text-decoration:none">More About me & my work!
                                              ➲
                                        </a>
                                </b>
                            </font>
                        </td>
                    </tr>
                </table>
                <hr color="black">
                <hr color="black">
                <hr color="black">
            </td>
        </tr>
    </table>
    
</body> 
<!--Home(end)-->


<%- include  partials/bottom_nav.ejs %>


<%- include  partials/footer.ejs %>
